<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${filmEntity.title}">Un filmEntity</title>
    <div th:replace="fragments/layout :: header-css">

    </div>
</head>
<body>

<div th:include="fragments/layout :: header-page">
</div>


<div class="ui container padded grid">
    <div class="two column row">
        <div class="four wide column">
            <div class="ui medium image">
                <img src="#" th:src="@{'/img/poster/filmEntity/'+${filmEntity.id}}"/>
            </div>
        </div>
        <div class="twelve wide column">
            <h1 th:text="${filmEntity.title}">Titre</h1>
            <div th:utext="${filmEntity.summary}">Résumé du filmEntity</div>
            <h4>Notation : <span th:text="${filmEntity.rating}">5.0</span></h4>
            <h4>Date de sortie : <span th:text="${filmEntity.releaseDate}">01/01/2000</span></h4>
            <h4>Réslisateur : <span th:text="${filmEntity.director.givenname}+' '+${filmEntity.director.surname}">John Doe</span></h4>
            <h4>Genres : <span th:each="genreEntity: ${filmEntity.genreEntities}"><span th:text="${genreEntity.name}">genreEntity </span>, </span></h4>
            <h3>Casting</h3>
            <h4 th:each="role: ${filmEntity.roles}"><span th:text="${role.actor.givenname}">John</span>
                <span th:text="${role.actor.surname}">Doe</span> joue : <span th:text="${role.name}">un rôle</span>
            </h4>

        </div>
    </div>
</div>



<div th:include="fragments/layout :: footer-js"></div>
<script type="application/javascript">
    $('#menu-filmEntities').addClass("active");
</script>
</body>
</html>